<% provide(:title,  "設立の経緯") %>

<div class="container">
    <div class="about">
    <h1 class="footer-title">設立の経緯</h1>
    <div class="footer__box">
        <h2>なぜこのサイトを開設したのか</h2>
        <p>「オリンピックのチケット取らなくては！！」2020年を迎え、私は人生で初めての東京五輪に期待し、高揚感でいっぱいであった。
        まさかその4か月後にこんな世界情勢になっているとは到底想像できなかった。新型コロナウイルス(covid-19)による猛威が世界中を駆け巡り
        死者数は36万人(2020/5/28現在)に達している。日本は一人一人の自粛意識、国・都道府県・市町村関係者や医療従事者の方々のおかげで、
        感染者数・死者数は落ち着きはじめ、緊急事態宣言が解除された。一方で、数ヶ月の自粛による経済への影響は非常に大きく、
        多くの事業者の方は非常に苦しい状況となっている。この状況でなにか私にできることはないかと考え、このサイトの立ち上げに至った。
        </p>
        <h2>これからの私たちの使命</h2>
        <p>
        GW期間中に"Stay Home"を守り、感染防止対策の行動ができた私たちの次なる使命は、「感染防止対策を行いつつ、元の経済に戻していくこと」
        であろう。経済回復に向けてこのサイトが役立っていただければと思う。来年のオリンピック、みんなで盛り上がるために。
        </p>
    </div>
    </div>
</div>