<div class="container">
    <div class="contact">
        <h1 class="footer-title">お問い合わせ</h1>
        <div class="footer__box">
            <p>このサイトへ掲載を希望される方、こんな機能が欲しい、こんな情報を掲載してほしいなどご要望がございましたら
            下記連絡先までメールにてご連絡願います。なるべく早く対応させていただきます。</p>
            <p>E-mail : nakonakoshi@gmail.com</p>
        </div>
    </div>
</div>