<% provide(:title,  "お店を探す") %>

<div class="container">
    <div class="row">
        <div class="col-12 breadcrumb">
            <div class="">
                <ul>
                    <li class=""><%= link_to "HOME", root_path %><span>></span></li>
                    <li class="">お店を探す</li>
                </ul>
            </div>
        </div>
        
        <div class="col-12">
            <div class="">お店から探す</div>
            <div><%= image_tag "constraction.png" %></div>
            
        </div>
    </div>
</div>