<footer class="footer">
    <ul>
        <li class=""><%= link_to "設立の経緯", about_path %></li>
        <li class=""><%= link_to "プライバシーポリシー", privacy_path %></li>
        <li class=""><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
    <div class="copyright">
        <p>copyright (c) 2020 Y.Nakoshi all rights reserved.</p>
    </div>
</footer>